.one {
  border-bottom: 3px solid black;
}

body {
  font-family: Poppins, sans-serif;
}

header {
  justify-content: space-between;
  display: flex;
  background-color: #fff;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 50px;
  padding-bottom: 10px;
}
nav {
  position: absolute;
  width: 100%;
  display: flex;
  padding-left: 1500px;
  align-items: center;
  justify-content: space-between;
}

nav a {
  float: right;
  display: inline-block;
  padding-right: 30px;
  text-align: center;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  padding-bottom: 10px;
}

nav ul {
  list-style-type: none;
  display: inline-block;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
}

article {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

section {
  background-color: #fff;
  padding: 8vh;
  margin-top: 8vh;
  margin-right: 8vh;
  margin-left: 8vh;
  margin-bottom: 8vh;
  border-radius: 30px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  color: #fff;
}
